<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.mps.map.MpsMapper">
	<!-- 2024.05.09 오후 12:11 손지은 / order by desc를 ask로 수정 -->
	<select id="mpsSelectListAll">
		SELECT m.cod, m.plan_date, m.product_cod, p.prodname, p.spec, u.name as 'unitName', o.dday, m.qty, c.name as 'clientName', m.note, p.spec, o.dday, m.account
		FROM mps m
		JOIN product p 
		ON m.product_cod =  p.cod 
		JOIN unit u 
		ON p.unit_cod = u.cod 
		JOIN orders o 
		ON m.order_cod = o.cod 
		JOIN orderdetail od 
		ON o.cod = od.cod and m.orderdetail_num = od.num 
		JOIN client c 
		ON o.client_cod = c.cod 
		WHERE m.deleteyn = 'N'
		AND m.closing = 'N'
		<if test="searchPlan != null and searchPlan != ''">
			AND m.plan = #{searchPlan}
		</if>
		<if test="searchProdCod != null and searchProdCod != ''">
			AND m.product_cod = #{searchProdCod}
		</if>
		<if test="searchProdName != null and searchProdName != ''">
			AND p.prodname LIKE CONCAT('%', #{searchProdName}, '%')
		</if>
		<if test="searchClient != null and searchClient != ''">
			AND c.name LIKE CONCAT('%', #{searchClient}, '%')
		</if>
		<if test="preSearchDate != null and postSearchDate != null">
			AND m.plan_date BETWEEN #{preSearchDate} AND
			#{postSearchDate}
		</if>
		ORDER BY m.cod desc
		LIMIT #{pageSize} OFFSET #{offset}
	</select>
	
	<select id="mpsSelectListAllModal">
		SELECT m.cod, m.plan_date, m.product_cod, p.prodname, p.spec, u.name as 'unitName', o.dday, m.qty, c.name as 'clientName', m.note, p.spec, o.dday, m.account
		FROM mps m
		JOIN product p 
		ON m.product_cod =  p.cod 
		JOIN unit u 
		ON p.unit_cod = u.cod 
		JOIN orders o 
		ON m.order_cod = o.cod 
		JOIN orderdetail od 
		ON o.cod = od.cod and m.orderdetail_num = od.num 
		JOIN client c 
		ON o.client_cod = c.cod 
		WHERE m.deleteyn = 'N'
		AND m.closing = 'N'
		ORDER BY m.cod desc
	</select>
	
	<select id="countMpsTables" resultType="int">
		SELECT COUNT(*)
		FROM mps m
		JOIN product p 
		ON m.product_cod =  p.cod 
		JOIN unit u 
		ON p.unit_cod = u.cod 
		JOIN orders o 
		ON m.order_cod = o.cod 
		JOIN orderdetail od 
		ON o.cod = od.cod and m.orderdetail_num = od.num 
		JOIN client c 
		ON o.client_cod = c.cod 
		WHERE m.deleteyn = 'N'
		AND m.closing = 'N'
		<if test="searchPlan != null and searchPlan != ''">
			AND m.plan = #{searchPlan}
		</if>
		<if test="searchProdCod != null and searchProdCod != ''">
			AND m.product_cod = #{searchProdCod}
		</if>
		<if test="searchProdName != null and searchProdName != ''">
			AND p.prodname LIKE CONCAT('%', #{searchProdName}, '%')
		</if>
		<if test="searchClient != null and searchClient != ''">
			AND c.name LIKE CONCAT('%', #{searchClient}, '%')
		</if>
		<if test="preSearchDate != null and postSearchDate != null">
			AND m.plan_date BETWEEN #{preSearchDate} AND
			#{postSearchDate}
		</if>
	</select>
	
	<select id="mpsSelect">
		SELECT m.cod, m.order_cod, m.orderdetail_num, m.plan_date, m.product_cod, p.prodname, p.spec, u.name as 'unitName', o.dday, m.qty, c.name as 'clientName', m.note, m.account
		FROM mps m
		JOIN product p 
		ON m.product_cod =  p.cod 
		JOIN unit u 
		ON p.unit_cod = u.cod 
		JOIN orders o 
		ON m.order_cod = o.cod 
		JOIN orderdetail od 
		ON o.cod = od.cod and m.orderdetail_num = od.num 
		JOIN client c 
		ON o.client_cod = c.cod 
		WHERE m.cod = #{cod}
	</select>

	<insert id="mpsInsert">
		INSERT INTO mps(cod, order_cod, orderdetail_num, product_cod, plan_date, qty, employee_cod, procurement, account, plan, note, closing) VALUES (#{cod}, #{orderCod}, #{orderdetailNum}, #{productCod}, #{planDate}, #{qty}, #{employeeCod}, #{procurement}, '완제', #{plan}, #{note}, 'N')
	</insert>
	<update id="mpsUpdate">
		UPDATE mps
		SET
		plan_date = #{planDate},
		qty = #{qty},
		note = #{note}
		WHERE cod = #{cod}
	</update>
	
	<delete id="mpsDelete">
		UPDATE mps
		SET
		deleteyn = 'Y'
		WHERE COD = #{cod}
	</delete>
	
	<update id="orderdetailMpsStateToY">
		UPDATE orderdetail SET mps_state = 'Y' WHERE cod = #{orderCod} AND num = #{orderdetailNum}
	</update>
	
	<update id="orderdetailMpsStateToN">
		UPDATE orderdetail SET mps_state = 'N' WHERE cod = #{orderCod} AND num = #{orderdetailNum}
	</update>

	<select id="selectMaxCod">
		SELECT COALESCE(MAX(CAST(RIGHT (cod,3) AS SIGNED)), 0) AS cod FROM mps
	</select>
</mapper>