<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.second.easyrp.orders.map.OrdersMapper">
	
	<select id="OrdersSelectList">
		SELECT *
		FROM orders
		WHERE deleteyn = 'N'
		<if test="cod != null and cod != ''">
			AND cod = #{cod}
		</if>
		<if test="clientCod != null and clientCod != ''">
			AND client_cod LIKE CONCAT('%', #{clientCod}, '%')
		</if>
		<if test="employeeCod != null and employeeCod != ''">
			AND employee_cod LIKE CONCAT('%', #{employeeCod}, '%')
		</if>
		<if test="preSearchDate != null and postSearchDate != null">
			AND order_date BETWEEN #{preSearchDate} AND
			#{postSearchDate}
		</if>
		<if test="ddaypreSearchDate != null and ddaypostSearchDate != null">
			AND dday BETWEEN #{ddaypreSearchDate} AND
			#{ddaypostSearchDate}
		</if>
		ORDER BY cod DESC
		LIMIT #{pageSize} OFFSET #{offset}
	</select>
	
	<select id="countSalesTables" resultType="int">
		SELECT COUNT(*)
		FROM orders
		WHERE DELETEYN = 'N'
		<if test="cod != null and cod != ''">
			AND cod = #{cod}
		</if>
		<if test="clientCod != null and clientCod != ''">
			AND client_cod LIKE CONCAT('%', #{clientCod}, '%')
		</if>
		<if test="employeeCod != null and employeeCod != ''">
			AND employee_cod LIKE CONCAT('%', #{employeeCod}, '%')
		</if>
		<if test="preSearchDate != null and postSearchDate != null">
			AND order_date BETWEEN #{preSearchDate} AND
			#{postSearchDate}
		</if>
		<if test="ddaypreSearchDate != null and ddaypostSearchDate != null">
			AND dday BETWEEN #{ddaypreSearchDate} AND
			#{ddaypostSearchDate}
		</if>
	</select>
	
	<select id="OrderSelect">
		SELECT 
			o.cod, 
			c.name as clientName, 
			e.name as empName, 
			o.client_cod, 
			o.employee_cod as employeeCod,
			date_format(o.order_date, '%Y-%m-%d') as orderDate, 
			d.name as deptName,
			date_format(o.dday, '%Y-%m-%d') as dday
		from orders o 
		join client c on o.client_cod = c.cod 
		JOIN employee e on o.employee_cod = e.cod 
		join department d on e.department_cod = d.cod 
		where o.cod = #{cod};
	</select>
	

	<select id="ordersSelectListAll"></select>
	<select id="ordersSelectList"></select>
	<select id="ordersSelect"></select>
	
	
	<insert id="ordersInsert" parameterType="co.second.easyrp.orders.service.OrdersVO">
	
		<selectKey keyProperty="cod" resultType="java.lang.String" order="BEFORE">
			select CONCAT('ord', LPAD(COALESCE(MAX(SUBSTRING(o.cod, 4)), 0) + 1, 3, '0')) from orders o
		</selectKey>
		
		INSERT INTO orders (cod, client_cod, employee_cod, dday, estimate_cod)
		values ( 
		    #{cod},
		    (SELECT cod FROM client WHERE name = #{clientName}),
		    #{employeeCod},
		    #{dday},
		    #{estimateCod}
		)
	</insert>
	
	<insert id="ordersInsert2">
		insert into orderdetail (cod, num, product_cod, qty, cur_remain_qty)
		values (
			#{cod}, 
			(SELECT ifnull(max(o.num), 0) + 1 as num from orderdetail o where o.cod = #{cod}), 
			(SELECT cod from product p where prodname = #{prodname}),
			#{qty},
			#{qty}
		)
	</insert>
	
	<!-- 가용 재고량 조회 -->
    <select id="checkProduct" parameterType="String" resultType="int">
        SELECT 
            p.cur_inv_qty - p.saftey_inv_qty AS availableQty 
        FROM 
            product p 
        WHERE 
            p.cod = #{productCod}
    </select>



    <!-- orderdetail 업데이트 쿼리  -->
    <update id="updateOrderDetailFull">
        UPDATE orderdetail
        SET 
            cur_remain_qty = cur_remain_qty - #{curRemainQty},
            delivery_state = 102
        WHERE product_cod = #{productCod} and cod = #{cod}
    </update>

    <!-- product 업데이트 쿼리  -->
    <update id="updateProductFull">
        UPDATE product
        SET cur_inv_qty = cur_inv_qty - #{curRemainQty}
        WHERE cod = #{productCod}
    </update>
	
	    <!-- orderdetail 업데이트 쿼리  -->
    <update id="updateOrderDetailPartial" >
    	UPDATE orderdetail
        SET 
            cur_remain_qty = cur_remain_qty - #{availableQty},
            delivery_state = 101
        WHERE product_cod = #{productCod} and cod = #{cod}
        
    </update>

    <!-- product 업데이트 쿼리 -->
    <update id="updateProductPartial">
    	UPDATE product
        SET cur_inv_qty = cur_inv_qty - #{availableQty}
        WHERE cod = #{productCod}
        
    </update>
    
    <update id="updateNoProuctQty">
    	update orderdetail
    	set
    		delivery_state = 104
    	where product_cod = #{productCod} and cod = #{cod}
    </update>
	
	
	<update id="ordersUpdate"></update>
	
	<update id="ordersDelete" parameterType="co.second.easyrp.orders.service.OrdersVO">
		update orders
		set deleteyn = 'Y'
		where cod = #{cod}
	</update>
</mapper>